[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{composer.lock,.eslintrc,.eslint,12432423/estimate-shipping-methods,.prettierrc,.babelrc,jest.config,.stylelintrc,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[{tsconfig.e2e.json,tsconfig.spec.json,tsconfig.app.json,tsconfig.json}]
indent_style=space
indent_size=2

[{*.module,*.hphp,*.phtml,*.php5,*.php4,*.php,*.inc}]
indent_style=tab
tab_width=2

[yarn.lock]
indent_style=space
indent_size=2

[tslint.json]
indent_style=space
indent_size=2

